html {
    font-family: Poppins, sans-serif;
}
.container {
    width: 0;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header {
    background-color: dimgray;
    display: flex;
    margin-top: 0;

}

h1 {
    background-color: grey;
    width: 20%;
    text-align: center;
}

nav {
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;

}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin: auto;
    background-color: lightgrey;
    height: 3rem;
}

li {
    margin: 0;
}

li a {

    color: #333;
    padding: 0.5rem;
    text-decoration: none;
    width: 10rem;
    text-align: center;
    display: block;
}

li a:hover {
    background-color: lightgrey;
}

main {
    background-color: lightgrey;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
section {
    width: 100%;
    display: flex;
}

.contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact {
    width: 40%;
    max-width: 600px;

}
.map {
    width: 60%;
    margin-right: 10%;

}
iframe {
    align-items: end;
}

@media screen and (min-width: 768px) {
    .container {
        width: 70%;
    }
}