html {
    font-family: Poppins, sans-serif;
}
.container {
    width: 60%;
    margin: auto;
}

header {
    display: flex;
}

h1 {
    background-color: darkgrey;
    width: 15%;
    text-align: center;
    color: #333;
}

nav {
    width: 85%;
    margin-top: 0.75rem;
}
ul  {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 0.5rem;
    background-color: #d3d3d3;
    height: 3.05rem;
}

li a {
    width: 10rem;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    background-color: lightgrey;
    color: #333;
}


li a:hover {
    background-color: #555;
}
h2 {
    text-align: center;
}
figure {
    height: 5%;
    width: 100%;
    margin: 0;
}

img {
    margin: auto;
    display: block;
    background-color: #9c9cac;
    width: 100%;
    height: 5%;
}

figcaption {
    text-align: center;
}

p {
    max-width: 80%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

@media screen and (min-width: 769px) {
    .container {
        width: 80%;
    }
    article {
        width: 50%;
    }
}








